# Docker host port for MariaDB container
DB_HOST_PORT=3307

# Database init credentials
DB_NAME=MEDICDB
DB_USER=medwin
DB_PASSWORD=0101
DB_ROOT_PASSWORD=root0101

# Optional timezone for DB container
DB_TIMEZONE=UTC
